# Python
venv/
__pycache__/
*.pyc
*.pyo
.env

# Spark
derby.log
metastore_db/
spark-warehouse/

# Delta Lake data
data/

# Kafka
kafka-logs/

# dbt
*.duckdb

# Mac
.DS_Store

# Test cache
.pytest_cache/
.coverage

# Airflow
orchestration/airflow.db
orchestration/airflow.cfg
orchestration/logs/
orchestration/airflow-webserver.pid
orchestration/standalone_admin_password.txt
orchestration/webserver_config.py
